<html lang="en">
<head>
    <% include ../helpers/head %>
    
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>About Page</h1>
  </div>

  <p>Click on the button for a surprise.</p>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "21275011",
    formId: "63c33947-44aa-4a97-8d0f-7a4c846dbcd1"
  });
</script>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>
